<div class="container">
  <div class="d-flex flex-column align-items-center">

    <h2>Search Result</h2>

    {{#if result}}

    <h3>Showing Result from {{math offset "+" 1}} to {{math offset "+" resultLength}} of {{totalResult}}</h3>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark ">
        <tr>
          <th scope="col">App ID</th>
          <th scope="col">Name</th>
          <th scope="col">Rating</th>
          <th scope="col">Download</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        {{#each result}}
        <tr>
          <td>{{app_id}}</td>
          <td>{{name}}</td>
          <td>{{rating}}</td>
          <td>{{installs}}</td>
          <td>{{category}}</td>
        </tr>
        {{/each }}
      </tbody>
    </table>
    {{else }}
    <h1>No result</h1>
    {{/if }}
    <div class="" style="width:100%">
      <div class="row">
        <div class="col">
          <form action="/search" method='get' class="d-flex justify-content-start">
            <input type="hidden" type="text" name="offset" value={{ offset}}>
            <input type="hidden" type="text" name="q" value={{q}}>
            {{#if previousPageState}}
            <button class="btn btn-warning" name='btnClicked' value='prev' type="submit">Previous Page</button>
            {{/if }}
            <div class="col d-flex justify-content-center">
              <a class="btn btn-primary" href="/" role="button">Return Home</a>
            </div>
            {{#if nextPageState}}
            <button class="btn btn-warning" name='btnClicked' value='next' type="submit">Next Page</button>
            {{/if }}
          </form>
        </div>
      </div>
    </div>


  </div>
</div>